body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #373434 ;
}
header {
    padding: 30px;
    width: auto;
    background: #161515;
    color: white;
    border-radius: 15px;
    display: flex;
    transition: transform 0.3s ease;
    
}
section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border-color: #2c2b2b;
    border-radius: 15px;
    border: 3px #384853;
    transition: transform 0.3s ease;
    
}
img {
    max-width: 10%;
    height: auto;
    border-radius: 15px;
    position: left 30px;
    margin-right: 25px;
    width:auto;
}
p {
    font-size: 20px;
    text-align: left;
}
section:hover {
    transform: scale(1.05);
}
header:hover {
    transform: scale(1.05); 
}